<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{commons::head}"></head>

<body>
<!-- Topbar Start -->
<div th:replace="~{commons::topbar}"></div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="~{commons::navbar}"></div>
<!-- Navbar End -->


<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Shop Detail</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div class="carousel-inner bg-light">
                <div class="carousel-item active">
                    <img class="w-100" th:src="@{|/admin/data/product/image/${product.productId}|}" alt="product">
                </div>
            </div>
        </div>
        <div class="col-lg-7 h-auto mb-30">
            <div class="bg-light p-30">
                <h3 th:text="${product.name}"></h3>
                <h3 class="font-weight-semi-bold mb-4" th:text="${'Price: ' + product.price} + ' $'"></h3>
                <span th:text="${product.quantity == 0} ? 'Not available' : 'In stock: ' + ${product.quantity}"></span>
                <div th:if="${product.quantity != 0}">
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <a th:href="@{'/cart/' + ${product.productId}}" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To
                            Cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Product
                        Description</a>
                    <!--                            <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Information</a>-->
                    <!--                            <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Reviews (0)</a>-->
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">Product Description</h4>
                        <p th:utext="${product.description}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Shop Detail End -->


<!-- Products Start -->
<!--    <div class="container-fluid py-5">-->
<!--        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">You May Also Like</span></h2>-->
<!--        <div class="row px-xl-5">-->
<!--            <div class="col">-->
<!--                <div class="owl-carousel related-carousel">-->
<!--                    <div class="product-item bg-light">-->
<!--                        <div class="product-img position-relative overflow-hidden">-->
<!--                            <img class="img-fluid w-100" src="img/product-1.jpg" alt="">-->
<!--                            <div class="product-action">-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="text-center py-4">-->
<!--                            <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>-->
<!--                            <div class="d-flex align-items-center justify-content-center mt-2">-->
<!--                                <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center justify-content-center mb-1">-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small>(99)</small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="product-item bg-light">-->
<!--                        <div class="product-img position-relative overflow-hidden">-->
<!--                            <img class="img-fluid w-100" src="img/product-2.jpg" alt="">-->
<!--                            <div class="product-action">-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="text-center py-4">-->
<!--                            <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>-->
<!--                            <div class="d-flex align-items-center justify-content-center mt-2">-->
<!--                                <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center justify-content-center mb-1">-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small>(99)</small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="product-item bg-light">-->
<!--                        <div class="product-img position-relative overflow-hidden">-->
<!--                            <img class="img-fluid w-100" src="img/product-3.jpg" alt="">-->
<!--                            <div class="product-action">-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="text-center py-4">-->
<!--                            <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>-->
<!--                            <div class="d-flex align-items-center justify-content-center mt-2">-->
<!--                                <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center justify-content-center mb-1">-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small>(99)</small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="product-item bg-light">-->
<!--                        <div class="product-img position-relative overflow-hidden">-->
<!--                            <img class="img-fluid w-100" src="img/product-4.jpg" alt="">-->
<!--                            <div class="product-action">-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="text-center py-4">-->
<!--                            <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>-->
<!--                            <div class="d-flex align-items-center justify-content-center mt-2">-->
<!--                                <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center justify-content-center mb-1">-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small>(99)</small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="product-item bg-light">-->
<!--                        <div class="product-img position-relative overflow-hidden">-->
<!--                            <img class="img-fluid w-100" src="img/product-5.jpg" alt="">-->
<!--                            <div class="product-action">-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>-->
<!--                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="text-center py-4">-->
<!--                            <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>-->
<!--                            <div class="d-flex align-items-center justify-content-center mt-2">-->
<!--                                <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>-->
<!--                            </div>-->
<!--                            <div class="d-flex align-items-center justify-content-center mb-1">-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small class="fa fa-star text-primary mr-1"></small>-->
<!--                                <small>(99)</small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!-- Products End -->


<!-- Footer Start -->
<div th:replace="~{commons::footer}"></div>
<!-- Footer End -->


<!-- Back to Top -->
<a th:replace="~{commons::top}" href=""></a>


<!-- JavaScript Libraries -->
<th:block th:replace="~{commons::scripts}"></th:block>
</body>

</html>